    .gtp search{
        width: 50%; /* Ширина блока */
        margin: auto ; /* Выравниваем по центру */
        min-height: 100px;/*вісота блока*/
        margin-bottom: 10px;
    }    

    .top { 
        width: 50%; /* Ширина блока */
        margin: auto; /* Выравниваем по центру */
        min-height: 550px;/*вісота блока*/
        margin-bottom: 10px;}

    .down {   
        width: 50%; /* Ширина блока */
        margin: auto ; /* Выравниваем по центру */
        min-height: 50px;/*высота блока*/
    }
      .block{  
        border: 1px solid gray;
        background:#FAFAFA;
        border-radius: 3px;
        box-shadow: 0 0 1px;
    }
