    .search{
        width: 860px; /* Ширина блока */
        margin: auto ; /* Выравниваем по центру */
        min-height: 100px;/*вісота блока*/
        margin-bottom: 10px;
        position:relative; /*???????*/
    }    

    .top { 
        width: 860px; /* Ширина блока */
        margin: auto; /* Выравниваем по центру */
        min-height: 550px;/*вісота блока*/
        margin-bottom: 10px;
    }

    .down {   
        width: 860px; /* Ширина блока */
        margin: auto ; /* Выравниваем по центру */
        min-height: 50px;/*высота блока*/
    }
    .block{  
        border: 1px solid gray;/*рамка*/
        background:#FAFAFA;
        border-radius: 3px;/*толщина рамки*/
        box-shadow: 0 0 1px;/*тень рамки*/
    }
    body { 
        background: #F9FAFA; 
    } 
    .left {
        float: left; /* Обтекание по правому краю */ 
        border: 1px solid gray; /* Параметры рамки */
        width: 50%; /* Ширина блока */
        box-sizing: border-box;
        overflow: hidden;/*Отображается только область внутри элемента*/
        text-overflow: ellipsis;/*точки*/
        white-space: nowrap;/*перенос текста -Не переносится -Не учитываются*/
    }
    .right {
        float: left; /* Обтекание по правому краю */
        border: 1px solid gray; /* Параметры рамки */
        width: 50%; /* Ширина блока */
        box-sizing: border-box;
        overflow: hidden;/*Отображается только область внутри элемента*/
        text-overflow: ellipsis;/*точки*/
        white-space: nowrap;/*перенос текста -Не переносится -Не учитываются*/
    }
    .field {
        margin: 10px 10px ; /* Выравниваем по центру */
    }
    .input {
        width: 250px;/* Ширина блока */
        min-height: 20px;/*высота блока*/
    }
    a {
        text-decoration: none; /*убрать подчеркивание */
        color: black; /* Цвет ссылки */
    }
    a:hover {
        /*text-decoration: underline ;/*подчеркивание при наведении*/
        color: black; /* Цвет ссылки */
        /*color: #154088;*/
        background: #E0F2F7;
    }
    .alphabet a { 
        display: inline-block;
        min-width: 25px;
        text-align: center;
        width: 3.24%;

    }
    .alphabet {
	    
        width: 100%;
        margin: 40px 0px 0px 0px;
    }

    